@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-1: #292f36;
  --bg-2: #1a1e23;
  --brand-1: #126706;
  --brand-2: #98faec;
  --html: #e54f24;
  --css: white;
  --js: #e7ad20;
  --grey: #434540;
  --react: #284960;
}
/* General classes */

.Ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.BG-Text-U {
  background-color: #ffffff;
  color: #000000;
}

.H1-U {
  font-size: 64px;
  line-height: 72px;
}

.H2-U {
  font-size: 32px;
  line-height: 36px;
}

.Button-U {
  font-size: 20px;
  line-height: 24px;
}

.Article-U {
  font-weight: light;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
}

.Para-U {
  font-weight: light;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
}

.Label-U-M {
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
}

.Label-U-L {
  font-weight: light;
  font-size: 14px;
  line-height: 16px;
}

.Number-M {
  font-weight: medium;
  font-size: 48px;
  line-height: 62px;
}
.H2-M {
  font-weight: medium;
  font-size: 32px;
  line-height: 42px;
}
.Logo-M {
  font-weight: medium;
  font-size: 32px;
  line-height: 42px;
}
.Menu-M {
  font-size: 24px;
  line-height: 32px;
}
.Media-M {
  font-size: 16px;
  line-height: 20px;
}
.Para-M {
  font-size: 16px;
  line-height: 20px;
}
.Code-M {
  font-size: 14px;
  line-height: 18px;
}

